@font-face {
  font-family: "Akrobat-Black";
  font-display: swap;
  src: url("../fonts/Akrobat-Black.woff") format("woff"),
  url("../fonts/Akrobat-Black.eot") format("eot");
}

@font-face {
  font-family: "Akrobat-Bold";
  font-display: swap;
  src: url("../fonts/Akrobat-Bold.woff") format("woff"),
  url("../fonts/Akrobat-Black.eot") format("eot");
}
@font-face {
  font-family: "Akrobat-Italic";
  font-display: swap;
  src: url("../fonts/Akrobat-Italic.woff") format("woff"),
  url("../fonts/Akrobat-Black.eot") format("eot");
}
@font-face {
  font-family: "Akrobat-Light";
  font-display: swap;
  src: url("../fonts/Akrobat-Light.woff") format("woff"),
  url("../fonts/Akrobat-Black.eot") format("eot");
}
@font-face {
  font-family: "Akrobat-Mediun";
  font-display: swap;
  src: url("../fonts/Akrobat-Mediun.woff") format("woff"),
  url("../fonts/Akrobat-Black.eot") format("eot");
}
@font-face {
  font-family: "Akrobat-Roman";
  font-display: swap;
  src: url("../fonts/Akrobat-Roman.woff") format("woff"),
  url("../fonts/Akrobat-Black.eot") format("eot");
}
@font-face {
  font-family: "Akrobat-Thin";
  font-display: swap;
  src: url("../fonts/Akrobat-Thin.woff") format("woff"),
  url("../fonts/Akrobat-Black.eot") format("eot");
}
@font-face {
  font-family: "Akrobat-Regular";
  font-display: swap;
  src: url("../fonts/Akrobat-Regular.woff") format("woff"),
  url("../fonts/Akrobat-Black.eot") format("eot");
}
