@font-face {
  font-family: "Akrobat-Black";
  font-display: swap;
  src: url("../../fonts/Akrobat-Black.oft") format("oft");
}
@font-face {
  font-family: "Akrobat-Bold";
  font-display: swap;
  src: url("../../fonts/Akrobat-Bold.oft") format("oft");
}
@font-face {
  font-family: "Akrobat-Italic";
  font-display: swap;
  src: url("../../fonts/Akrobat-Italic.oft") format("oft");
}
@font-face {
  font-family: "Akrobat-Light";
  font-display: swap;
  src: url("../../fonts/Akrobat-Light.oft") format("oft");
}
@font-face {
  font-family: "Akrobat-Mediun";
  font-display: swap;
  src: url("../../fonts/Akrobat-Mediun.oft") format("oft");
}
@font-face {
  font-family: "Akrobat-Roman";
  font-display: swap;
  src: url("../../fonts/Akrobat-Roman.oft") format("oft");
}
@font-face {
  font-family: "Akrobat-Thin";
  font-display: swap;
  src: url("../../fonts/Akrobat-Thin.oft") format("oft");
}
@font-face {
  font-family: "Akrobat-Regular";
  font-display: swap;
  src: url("../../fonts/Akrobat-Regular.oft") format("oft");
}
